body {
    margin: 0px;
    background-color: rgb(39, 39, 39);
    text-align: center;
    font-family: 'Arial', 'Helvetica', 'Times New Roman';
    color: lightgrey;
}

@keyframes navv {
    from {color: lightgrey;}
    to {color: cyan;}
}

nav {
    position: fixed;
    width: 100%;
    max-height: 80px;
    margin: 0px 0px 0px 0px;
    background-color: black;
    opacity: 0.75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    top: 0;
}

nav ul {
    list-style: none;
    width: 100%;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 30px;
}

nav ul li a:hover {
    animation: navv 0.25s ease-in forwards;
}
h1 {
    font-size: 4.5em;
    margin: 10px 0px 5px 0px;
    font-family: "Times New Roman";
}

h2 {
    font-size: 1.15em;
    margin: 0px 0px 25px 0px;
    font-weight: lighter;
    font-style: italic;
}

h3 {
    font-size: 4.5em;
    margin: 10px 0px 5px 0px;    
}

p {
    font-size: 1.5em;
    margin-left: 50px;
    margin-right: 50px;
}

.mainhead h1{
    font-size: 7.5em;
}

.services {
    max-height: 400px;
    margin: 75px auto 20px auto;
    padding: 20px 0px;
}

.services h3 {
    font-size: 1.25em;
}

.services ul {
    list-style: none;
}

.services ul li {
    display: inline-block;
    margin: 0px 50px;
    font-size: 2.2em; /* 2.2 */
    font-family: "Beiruti", "Fustat", "Roboto";
    vertical-align: top;
}

.services ul li p {
    font-size: 0.55em; /* 0.55 */
    font-family: "Ubuntu", "Lato";
    max-width: 170px;
    top: 0;
    float: inline-end;
    font-style: italic;
}

.services h3 {
    font-size: 3.0em;
    text-decoration: underline;
}

.image1 {
    width: 65px;
    padding: 5px;
}

.image2 {
    width: 100%;
}

.image3 {
    width: 100%;
    max-height: 600px;
}

.image4 {
    width: 100%;
    max-height: 600px;
}

.imagez {
    width: 130px;
    height: 130px;
    vertical-align: middle;
    align-items: center;
}

.login {
    margin: 150px 50px 50px 50px;
}